In [ ]:
import pandas as pd

canvas = pd.read_csv("/Users/shahdivyank/Desktop/Canvas-LMS-Web-Scraper/canvas/2025-03-18T0528_Grades-CS_010C_001_25W.csv")

/var/folders/hq/zydtttq12xq05qpxw71t17200000gn/T/ipykernel_7679/625575542.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

zybooks/UCRCS010CMillerWinter2025_Chapter_10_Reading_report_2025-03-15_2122.csv
Chapter 10 Readings (795701) 42
zybooks/UCRCS010CMillerWinter2025_Chapter_9_Challenges_report_2025-03-15_2121.csv
Chapter 9 Readings (795717) 0
zybooks/UCRCS010CMillerWinter2025_Chapter_8_Challenges_report_2025-03-15_2121.csv
Chapter 8 Readings (795715) 0
zybooks/UCRCS010CMillerWinter2025_Chapter_8_Reading_Part_II_report_2025-03-15_2121.csv
Chapter 8 Readings (795715) 66
zybooks/UCRCS010CMillerWinter2025_Chapter_5_Reading_Part_I_report_2025-03-15_2120.csv
Chapter 5 Readings (795709) 53
zybooks/UCRCS010CMillerWinter2025_Chapter_9_Reading_Part_II_report_2025-03-15_2121.csv
Chapter 9 Readings (795717) 51
zybooks/UCRCS010CMillerWinter2025_Chapter_7_Challenges_report_2025-03-15_2121.csv
Chapter 7 Readings (795713) 0
zybooks/UCRCS010CMillerWinter2025_Chapter_5_Challenges_report_2025-03-15_2120.csv
Chapter 5 Readings (795709) 0
zybooks/UCRCS010CMillerWinter2025_Chapter_6_Challenges_report_2025-03-15_2121.csv
Chapter 6 Readings (795711) 0
zybooks/UCRCS010CMillerWinter2025_Chapter_7_Reading_Part_II_report_2025-03-15_2121.csv
Chapter 7 Readings (795713) 48
zybooks/UCRCS010CMillerWinter2025_Chapter_5_Reading_Part_II_report_2025-03-15_2120.csv
Chapter 5 Readings (795709) 118
zybooks/UCRCS010CMillerWinter2025_Chapter_8_Reading_Part_I_report_2025-03-15_2121.csv
Chapter 8 Readings (795715) 71
zybooks/UCRCS010CMillerWinter2025_Chapter_9_Reading_Part_I_report_2025-03-15_2121.csv
Chapter 9 Readings (795717) 43
zybooks/UCRCS010CMillerWinter2025_Chapter_10_Challenges_report_2025-03-15_2122.csv
Chapter 10 Readings (795701) 0
zybooks/UCRCS010CMillerWinter2025_Chapter_6_Reading_Part_II_report_2025-03-15_2121.csv
Chapter 6 Readings (795711) 44
zybooks/UCRCS010CMillerWinter2025_Chapter_7_Reading_Part_I_report_2025-03-15_2121.csv
Chapter 7 Readings (795713) 62
zybooks/UCRCS010CMillerWinter2025_Chapter_6_Reading_Part_I_report_2025-03-15_2120.csv
Chapter 6 Readings (795711) 54

In [59]:
merge[merge["SIS Login ID"] == "byun008"][reading_name]

174    54.0
Name: Chapter 6 Readings (795711), dtype: float64

In [60]:
zybooks_data[["SIS Login ID", reading_name]]

    SIS Login ID  Chapter 6 Readings (795711)
0       aabuh001                         54.0
1        mali055                         54.0
2       samaj001                          0.0
3       damin007                          0.0
4       aanub001                         54.0
..           ...                          ...
187      byun008                         54.0
188     jzhan691                         54.0
189     azhou077                         54.0
190      gzhu018                         54.0
191      jzhu189                         54.0

[192 rows x 2 columns]